In [ ]:
import pandas as pd

In [1]:
# prompt: read csv

import pandas as pd

# Assuming the CSV file is named 'your_file.csv' and is in the current directory.
# Replace 'your_file.csv' with the actual file name if it's different.
try:
    df = pd.read_csv('ODI_data.csv')
    print(df)
except FileNotFoundError:
    print("Error: 'your_file.csv' not found. Please make sure the file exists in the current directory or provide the correct path.")
except pd.errors.EmptyDataError:
    print("Error: 'your_file.csv' is empty.")
except pd.errors.ParserError:
    print("Error: Unable to parse 'your_file.csv'. Please check the file format.")

       Innings Player Innings Runs Scored Innings Runs Scored Num  \
0             E Lewis                  65                      65
1            N Pooran                  42                      42
2          SO Hetmyer                  18                      18
3            RL Chase                  18                      18
4         SS Cottrell                  17                      17
...               ...                 ...                     ...
171963     IR Redpath                 NaN                     NaN
171964    IM Chappell                 NaN                     NaN
171965     KD Walters                 NaN                     NaN
171966       RW Marsh                 NaN                     NaN
171967    GS Chappell                 NaN                     NaN

       Innings Minutes Batted  Innings Batted Flag  Innings Not Out Flag  \
0                         128                  1.0                   0.0
1                          69                  1.0                   0.0
2                          31                  1.0                   0.0
3                          34                  1.0                   0.0
4                          23                  1.0                   0.0
...                       ...                  ...                   ...
171963                    NaN                  NaN                   NaN
171964                    NaN                  NaN                   NaN
171965                    NaN                  NaN                   NaN
171966                    NaN                  NaN                   NaN
171967                    NaN                  NaN                   NaN

       Innings Balls Faced Innings Boundary Fours Innings Boundary Sixes  \
0                       80                      8                      1
1                       52                      4                      1
2                       20                      2                      0
3                       23                      0                      0
4                       18                      2                      1
...                    ...                    ...                    ...
171963                 NaN                    NaN                    NaN
171964                 NaN                    NaN                    NaN
171965                 NaN                    NaN                    NaN
171966                 NaN                    NaN                    NaN
171967                 NaN                    NaN                    NaN

       Innings Batting Strike Rate  ... Innings Overs Bowled  \
0                            81.25  ...                  NaN
1                            80.76  ...                  NaN
2                               90  ...                  NaN
3                            78.26  ...                  NaN
4                            94.44  ...                  NaN
...                            ...  ...                  ...
171963                         NaN  ...                  DNB
171964                         NaN  ...                  DNB
171965                         NaN  ...                  DNB
171966                         NaN  ...                  DNB
171967                         NaN  ...                  DNB

       Innings Bowled Flag Innings Maidens Bowled Innings Runs Conceded  \
0                      NaN                    NaN                   NaN
1                      NaN                    NaN                   NaN
2                      NaN                    NaN                   NaN
3                      NaN                    NaN                   NaN
4                      NaN                    NaN                   NaN
...                    ...                    ...                   ...
171963                 0.0                      -                     -
171964                 0.0                      -                     -
171965                 0.0                      -                     -
171966                 0.0                      -                     -
171967                 0.0                      -                     -

       Innings Wickets Taken  4 Wickets  5 Wickets 10 Wickets  \
0                        NaN        NaN        NaN        NaN
1                        NaN        NaN        NaN        NaN
2                        NaN        NaN        NaN        NaN
3                        NaN        NaN        NaN        NaN
4                        NaN        NaN        NaN        NaN
...                      ...        ...        ...        ...
171963                     -        1.0        0.0        0.0
171964                     -        1.0        0.0        0.0
171965                     -        1.0        0.0        0.0
171966                     -        1.0        0.0        0.0
171967                     -        1.0        0.0        0.0

       Innings Wickets Taken Buckets  Innings Economy Rate
0                                NaN                   NaN
1                                NaN                   NaN
2                                NaN                   NaN
3                                NaN                   NaN
4                                NaN                   NaN
...                              ...                   ...
171963                             -                     -
171964                             -                     -
171965                             -                     -
171966                             -                     -
171967                             -                     -

[171968 rows x 28 columns]

In [2]:
# runs per innings
# sr
# 100s
# 50s
# team contribution
df['Innings Runs Scored Num'].unique()

array(['65', '42', '18', '17', '13', '11', '5', '0', '120', '71', '20',
       '16', '3', '2', '1', '-', nan, '40', '6', '4', '87', '54', '46',
       '30', '12', '69', '39', '14', '10', '9', '8', '7', '82', '52',
       '41', '15', '98', '43', '19', '111', '48', '36', '25', '67', '60',
       '84', '59', '55', '47', '85', '49', '45', '34', '29', '22', '74',
       '28', '77', '50', '32', '23', '35', '122', '100', '95', '103',
       '113', '53', '96', '27', '64', '58', '33', '31', '73', '56', '86',
       '62', '106', '24', '57', '104', '26', '66', '51', '118', '105',
       '101', '21', '79', '44', '102', '88', '80', '72', '97', '68', '89',
       '38', '83', '63', '148', '166', '90', '76', '37', '70', '124',
       '94', '140', '153', '107', '117', '121', '92', '78', '75', '114',
       '115', '130', '128', '151', '110', '138', '135', '109', '61',
       '179', '170', '112', '116', '91', '143', '93', '123', '145', '81',
       '150', '162', '108', '131', '133', '137', '146', '139', '125',
       '129', '157', '152', '144', '99', '127', '210', '147', '126',
       '181', '160', '180', '208', '176', '168', '141', '132', '119',
       '154', '185', '134', '156', '164', '173', '178', '171', '149',
       '237', '159', '161', '215', '264', '136', '169', '209', '174',
       '189', '183', '163', '219', '158', '175', '177', '200', '194',
       '142', '172', '186', '188', '167'], dtype=object)

In [3]:
df= df[df['Innings Runs Scored Num'] != '-']
df['Innings Runs Scored Num'].unique()

array(['65', '42', '18', '17', '13', '11', '5', '0', '120', '71', '20',
       '16', '3', '2', '1', nan, '40', '6', '4', '87', '54', '46', '30',
       '12', '69', '39', '14', '10', '9', '8', '7', '82', '52', '41',
       '15', '98', '43', '19', '111', '48', '36', '25', '67', '60', '84',
       '59', '55', '47', '85', '49', '45', '34', '29', '22', '74', '28',
       '77', '50', '32', '23', '35', '122', '100', '95', '103', '113',
       '53', '96', '27', '64', '58', '33', '31', '73', '56', '86', '62',
       '106', '24', '57', '104', '26', '66', '51', '118', '105', '101',
       '21', '79', '44', '102', '88', '80', '72', '97', '68', '89', '38',
       '83', '63', '148', '166', '90', '76', '37', '70', '124', '94',
       '140', '153', '107', '117', '121', '92', '78', '75', '114', '115',
       '130', '128', '151', '110', '138', '135', '109', '61', '179',
       '170', '112', '116', '91', '143', '93', '123', '145', '81', '150',
       '162', '108', '131', '133', '137', '146', '139', '125', '129',
       '157', '152', '144', '99', '127', '210', '147', '126', '181',
       '160', '180', '208', '176', '168', '141', '132', '119', '154',
       '185', '134', '156', '164', '173', '178', '171', '149', '237',
       '159', '161', '215', '264', '136', '169', '209', '174', '189',
       '183', '163', '219', '158', '175', '177', '200', '194', '142',
       '172', '186', '188', '167'], dtype=object)

In [4]:
df = df.dropna(subset=['Innings Runs Scored Num'])
df['Innings Runs Scored Num'].unique()

array(['65', '42', '18', '17', '13', '11', '5', '0', '120', '71', '20',
       '16', '3', '2', '1', '40', '6', '4', '87', '54', '46', '30', '12',
       '69', '39', '14', '10', '9', '8', '7', '82', '52', '41', '15',
       '98', '43', '19', '111', '48', '36', '25', '67', '60', '84', '59',
       '55', '47', '85', '49', '45', '34', '29', '22', '74', '28', '77',
       '50', '32', '23', '35', '122', '100', '95', '103', '113', '53',
       '96', '27', '64', '58', '33', '31', '73', '56', '86', '62', '106',
       '24', '57', '104', '26', '66', '51', '118', '105', '101', '21',
       '79', '44', '102', '88', '80', '72', '97', '68', '89', '38', '83',
       '63', '148', '166', '90', '76', '37', '70', '124', '94', '140',
       '153', '107', '117', '121', '92', '78', '75', '114', '115', '130',
       '128', '151', '110', '138', '135', '109', '61', '179', '170',
       '112', '116', '91', '143', '93', '123', '145', '81', '150', '162',
       '108', '131', '133', '137', '146', '139', '125', '129', '157',
       '152', '144', '99', '127', '210', '147', '126', '181', '160',
       '180', '208', '176', '168', '141', '132', '119', '154', '185',
       '134', '156', '164', '173', '178', '171', '149', '237', '159',
       '161', '215', '264', '136', '169', '209', '174', '189', '183',
       '163', '219', '158', '175', '177', '200', '194', '142', '172',
       '186', '188', '167'], dtype=object)

In [14]:
df['Innings Date'] = pd.to_datetime(df['Innings Date'], dayfirst=True)
df['year'] = df['Innings Date'].dt.year
df

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,year
0,E Lewis,65,65,128,1.0,0.0,80,8,1,81.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1,N Pooran,42,42,69,1.0,0.0,52,4,1,80.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
2,SO Hetmyer,18,18,31,1.0,0.0,20,2,0,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
3,RL Chase,18,18,34,1.0,0.0,23,0,0,78.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
4,SS Cottrell,17,17,23,1.0,0.0,18,2,1,94.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171937,WM Lawry,27,27,51,1.0,0.0,49,0,0,55.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1971
171938,GS Chappell,22*,22,34,1.0,1.0,29,1,0,75.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1971
171939,KR Stackpole,13,13,20,1.0,0.0,15,2,0,86.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1971
171940,IR Redpath,12,12,21,1.0,0.0,14,1,0,85.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1971
171941,RW Marsh,10*,10,24,1.0,1.0,18,2,0,55.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1971

In [28]:
sachin_df= df[(df.year>=1994) & (df.year<=2004)]
sachin_df.head()

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,year,Innings balls Faced
77610,V Sehwag,70,70,85,1.0,0,52,9,2,134.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,52
77611,Yuvraj Singh,69,69,34,1.0,0,32,8,3,215.62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,32
77612,R Dravid,60,60,87,1.0,0,68,5,0,88.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,68
77613,SC Ganguly,55,55,98,1.0,0,80,2,2,68.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,80
77614,SR Tendulkar,47,47,60,1.0,0,42,9,0,111.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,42

In [44]:
kohli_df= df[(df.year>=2009) & (df.year<=2019)]
kohli_df.head()

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,year,Innings balls Faced
0,E Lewis,65,65,128,1.0,0,80,8,1,81.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,80
1,N Pooran,42,42,69,1.0,0,52,4,1,80.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,52
2,SO Hetmyer,18,18,31,1.0,0,20,2,0,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,20
3,RL Chase,18,18,34,1.0,0,23,0,0,78.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,23
4,SS Cottrell,17,17,23,1.0,0,18,2,1,94.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,18

In [ ]:
# metrics
# RPI(runs per inning) = total runs/ total innings
# SR(strike rate) = total runs/ total balls faced
# 100s = count number of 100s
# 50s = count number of 50
# team contribution = player runs/team runs

In [41]:
df['Innings Runs Scored Num'] = df['Innings Runs Scored Num'].astype(int)

In [42]:
df['Innings Not Out Flag'] = df['Innings Not Out Flag'].astype(int)

In [43]:
df['Innings balls Faced'] = df['Innings Balls Faced'].astype(int)

In [29]:
sdf= sachin_df[sachin_df['Innings Player']=='SR Tendulkar']
sdf

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,year,Innings balls Faced
77614,SR Tendulkar,47,47,60,1.0,0,42,9,0,111.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,42
77747,SR Tendulkar,19,19,46,1.0,0,32,3,0,59.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,32
78054,SR Tendulkar,16,16,30,1.0,0,17,2,0,94.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,17
79590,SR Tendulkar,74,74,170,1.0,0,100,7,1,74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,100
79681,SR Tendulkar,18,18,30,1.0,0,21,3,0,85.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132643,SR Tendulkar,82,82,69,1.0,0,49,15,2,167.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994,49
132692,SR Tendulkar,15,15,22,1.0,0,19,1,0,78.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994,19
133226,SR Tendulkar,52,52,83,1.0,0,63,3,0,82.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994,63
133340,SR Tendulkar,11*,11,25,1.0,1,18,0,0,61.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994,18
133430,SR Tendulkar,1,1,10,1.0,0,5,0,0,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994,5

In [30]:
sum_runs = sdf['Innings Runs Scored Num'].sum()
sum_runs

11818

In [45]:
kdf= kohli_df[kohli_df['Innings Player']=='V Kohli']
kdf

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,year,Innings balls Faced
11,V Kohli,120,120,179,1.0,0,125,14,1,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,125
327,V Kohli,1,1,8,1.0,0,6,0,0,16.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,6
420,V Kohli,34*,34,61,1.0,1,41,3,0,82.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,41
664,V Kohli,26,26,45,1.0,0,27,3,0,96.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,27
804,V Kohli,66,66,103,1.0,0,76,7,0,86.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50706,V Kohli,10,10,32,1.0,0,16,1,0,62.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009,16
50967,V Kohli,30,30,53,1.0,0,41,3,0,73.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009,41
51260,V Kohli,79*,79,121,1.0,1,104,9,2,75.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009,104
51527,V Kohli,16,16,28,1.0,0,24,1,0,66.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009,24
51903,V Kohli,2*,2,6,1.0,1,2,0,0,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009,2

In [47]:
sum(kdf['Innings Runs Scored Num'])/len(kdf), sum(sdf['Innings Runs Scored Num'])/len(sdf)

(50.20982142857143, 43.608856088560884)

In [52]:
#SR
100*sum(kdf['Innings Runs Scored Num'])/sum(kdf['Innings balls Faced']), 100*sum(sdf['Innings Runs Scored Num'])/sum(sdf['Innings balls Faced'])

(93.56126778138258, 88.21377920429947)

In [57]:
sum(kdf["50's"]), sum(sdf["50's"])

(53.0, 57.0)

In [59]:
sum(kdf["100's"]), sum(sdf["100's"])

(42.0, 37.0)

In [63]:
#team contribution
100*sum(sdf['Innings Runs Scored Num'])/sum(kohli_df[kohli_df.Country=='India']['Innings Runs Scored Num']), 100*sum(kdf['Innings Runs Scored Num'])/sum(sachin_df[sachin_df.Country=='India']['Innings Runs Scored Num'])

(18.504078788732837, 16.132826507925124)